USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 19/12/2022 8:08:34 CH ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBH.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 19/12/2022 8:08:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MAHD] [nvarchar](4) NOT NULL,
	[MASP] [nvarchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIABAN] [int] NOT NULL,
 CONSTRAINT [PK_CTHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 19/12/2022 8:08:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nvarchar](4) NOT NULL,
	[LOAIHD] [nvarchar](100) NOT NULL,
	[MAKH] [nvarchar](4) NOT NULL,
	[MANV] [nvarchar](4) NOT NULL,
	[NGAYLAPHD] [date] NOT NULL,
	[NGAYNHAN] [date] NOT NULL,
	[DIENGIAI] [nvarchar](1000) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 19/12/2022 8:08:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](4) NOT NULL,
	[TENKH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[THANHPHO] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 19/12/2022 8:08:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](4) NOT NULL,
	[HONV] [nvarchar](100) NOT NULL,
	[TENNV] [nvarchar](100) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[NOISINH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](1000) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 19/12/2022 8:08:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nvarchar](4) NOT NULL,
	[TENSP] [nvarchar](100) NOT NULL,
	[DONVITINH] [nvarchar](50) NOT NULL,
	[DONGIA] [int] NOT NULL,
	[SLTON] [int] NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CTHOADON] ([MAHD], [MASP], [SOLUONG], [GIABAN]) VALUES (N'HD01', N'SP02', 3, 30000000)
INSERT [dbo].[CTHOADON] ([MAHD], [MASP], [SOLUONG], [GIABAN]) VALUES (N'HD01', N'SP03', 4, 40000000)
INSERT [dbo].[CTHOADON] ([MAHD], [MASP], [SOLUONG], [GIABAN]) VALUES (N'HD02', N'SP01', 4, 70000000)
INSERT [dbo].[HOADON] ([MAHD], [LOAIHD], [MAKH], [MANV], [NGAYLAPHD], [NGAYNHAN], [DIENGIAI]) VALUES (N'HD01', N'Xuất', N'KH01', N'NV01', CAST(N'2022-12-12' AS Date), CAST(N'2022-12-14' AS Date), N'Không có')
INSERT [dbo].[HOADON] ([MAHD], [LOAIHD], [MAKH], [MANV], [NGAYLAPHD], [NGAYNHAN], [DIENGIAI]) VALUES (N'HD02', N'Nhập', N'KH02', N'NV02', CAST(N'2022-12-24' AS Date), CAST(N'2022-12-30' AS Date), N'Không có')
INSERT [dbo].[HOADON] ([MAHD], [LOAIHD], [MAKH], [MANV], [NGAYLAPHD], [NGAYNHAN], [DIENGIAI]) VALUES (N'HD03', N'Xu?t', N'KH01', N'NV02', CAST(N'2022-07-29' AS Date), CAST(N'2022-08-01' AS Date), N'Không có')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [THANHPHO], [SDT]) VALUES (N'KH01', N'Nguyễn Thị B', N'Hà Nội', N'Hà Nam', N'09342844')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [THANHPHO], [SDT]) VALUES (N'KH02', N'Nguyễn Văn C', N'HBH, HN', N'Hà Nội', N'0840840')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [THANHPHO], [SDT]) VALUES (N'KH03', N'Lê Thị D', N'Ninh Bình', N'Hà Nội', N'0402183')
INSERT [dbo].[NHANVIEN] ([MANV], [HONV], [TENNV], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [SDT]) VALUES (N'NV01', N'Nguyễn Văn', N'A', N'Nam', CAST(N'2002-12-12' AS Date), N'Hà Nội', N'HM, HN', N'342424')
INSERT [dbo].[NHANVIEN] ([MANV], [HONV], [TENNV], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [SDT]) VALUES (N'NV02', N'Trần Thị', N'B', N'Nữ', CAST(N'2002-08-25' AS Date), N'Hà Nội', N'HBH, HN', N'02409328')
INSERT [dbo].[NHANVIEN] ([MANV], [HONV], [TENNV], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [SDT]) VALUES (N'NV03', N'Lê Thị', N'C', N'Nữ', CAST(N'2002-07-29' AS Date), N'Hà Nội', N'HM, HN', N'02840239')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONVITINH], [DONGIA], [SLTON]) VALUES (N'SP01', N'Iphone 14 ProMax', N'Chiếc', 20000000, 25)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONVITINH], [DONGIA], [SLTON]) VALUES (N'SP02', N'Iphone 13 Pro', N'Chiếc', 25000000, 35)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONVITINH], [DONGIA], [SLTON]) VALUES (N'SP03', N'Iphone 11 Pro', N'Chiếc', 30, 10000000)
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_HOADON]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
USE [master]
GO
